{
  "plugins": [
    "@babel/transform-runtime",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    "@babel/preset-react"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "env": {
    "instrument": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
